.additional-data {
  .fieldset-basics();
  width: 100%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    background-color: var(--basic-green);
    height: 2px;
    top: -30px;
    right: 0;
    z-index: -1;

    @media (min-width: @tablet-width) {
      top: -33px;
    }
  }
}

.additional-data__legend {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: var(--black);
  background-color: var(--basic-white);
  padding: 0 20px;
  margin-bottom: 19px;
  margin-left: calc((100vw - 320px) / 2);

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
    margin-left: calc((100vw - 704px) / 2);
  }

  @media (min-width: @desktop-width) {
    margin-left: calc((100vw - 1296px) / 2);
  }
}

.additional-data__list {
  .list-basics();
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 20px;
  width: 320px;
  padding: 0 20px;
  margin: 15px auto 37px auto;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 122px;
    row-gap: 42px;
    width: 768px;
    padding: 0 129px 0 73px;
    margin: 44px auto 0 auto;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 105px;
    width: 1440px;
    padding-left: 111px;
    padding-right: 134px;
  }
}

.additional-data__label {
  .form-text();
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--black);
  text-transform: uppercase;
  position: relative;
  margin-left: 42px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 55px;
  }
}

.additional-data__input + .additional-data__label::before {
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid var(--details-grey);
  position: absolute;
  left: -46px;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    top: -5px;
    left: -59px;
  }
}

.additional-data__input + .additional-data__label:hover::before {
  border: 1px solid var(--hover);
}

.additional-data__input:checked + .additional-data__label::after {
  content: "";
  background-image: url("../img/catalog/check.svg");
  width: 18px;
  height: 14px;
  position: absolute;
  left: -39px;
  top: 8px;

  @media (min-width: @tablet-width) {
    left: -48px;
    top: 8px;
  }
}

.additional-data__input + .additional-data__label:active::before,
.additional-data__input:checked + .additional-data__label:active::after {
  opacity: 0.3;
}
