.cat-data {
  .fieldset-basics();
  position: relative;
  width: 320px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    width: 630px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  @media (min-width: @tablet-width) {
    width: 570px;
    margin: 0;
  }
}

.cat-data__item {
  display: flex;
  flex-basis: 100%;
  margin-bottom: 12px;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }
}

.cat-data__label,
.cat-data__input {
  .form-text();
  color: var(--grey);
}

.cat-data__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--grey);
  text-transform: uppercase;
  margin-top: 12px;
  margin-right: 15px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
    margin-right: 19px;
  }
}

.cat-data__input {
  border: 1px solid var(--border);
  padding-left: 15px;

  &:hover {
    border-color: var(--options-grey);
  }

  &:active {
    border: 2px solid var(--grey);
  }

  &:invalid:not(:placeholder-shown) {
    border: 2px solid var(--error);
  }
}

.cat-data__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--grey);

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.input-name {
  width: 229px;
  height: 43px;

  @media (min-width: @tablet-width) {
    width: 564px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 506px;
  }
}

.input-weight {
  width: 204px;
  height: 43px;

  @media (min-width: @tablet-width) {
    width: 536px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 475px;
  }
}

.input-age {
  width: 172px;
  height: 43px;

  @media (min-width: @tablet-width) {
    width: 497px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
  }
}
