.catalog {
  width: 100%;

  @media (min-width: @tablet-width) {
    .tablet-container();
  }

  @media (min-width: @desktop-width) {
    .desktop-container();
  }
}

.catalog__list {
  .list-basics();
  margin-bottom: 36px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    column-gap: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
  }
}

.catalog__item {
  border-bottom: 1px solid var(--line-grey);

  @media (min-width: @tablet-width) {
    border-bottom: none;
  }
}

.catalog__container {
  display: grid;
  grid-template-areas:
    "product title"
    "product info"
    "button button";
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr 43px;
  align-items: center;
  min-height: 190px;
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 324px;
    height: 511px;
    margin-right: 60px;
    background-image: linear-gradient(to bottom, var(--basic-white) 81px, var(--footer-grey) 81px);
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    height: 511px;
  }
}

.catalog__title {
  grid-area: title;
  display: block;
}

.catalog__heading {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--dark-grey);
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 21px;
  }
}

.catalog__gap--mob {
  @media (min-width: @mobile-width-only) {
    display: inline;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.catalog__gap--tab {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline;
  }
}

.catalog__info {
  grid-area: info;
  display: block;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--grey);
  margin-bottom: 22px;
  border-collapse: collapse;
  border-spacing: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    margin-bottom: 33px;
  }
}

.catalog__weight,
.catalog__taste,
.catalog__price {
  @media (min-width: @tablet-width) {
    border-bottom: 1px solid var(--details-grey);
  }
}

.catalog__button {
  grid-area: button;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 113px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    padding: 10px 93px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 53px;
  }
}

.catalog__picture {
  grid-area: product;
  display: block;

  @media (min-width: @tablet-width) {
    order: -1;
  }
}

.catalog__cell-title {
  text-align: left;
  width: 71px;
  padding-bottom: 3px;

  @media (min-width: @tablet-width) {
    width: 125px;
    padding-top: 7px;
    padding-bottom: 9px;
  }

  @media (min-width: @desktop-width) {
    width: 84px;
  }
}

.catalog__cell-content {
  text-align: right;
  width: 71px;
  padding-bottom: 3px;

  @media (min-width: @tablet-width) {
    width: 125px;
    padding-top: 7px;
    padding-bottom: 9px;
  }

  @media (min-width: @desktop-width) {
    width: 84px;
  }
}
