.comment-data {
  .fieldset-basics();
  width: 100%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    background-color: var(--basic-green);
    height: 2px;
    top: 23px;
    right: 0;
    z-index: -1;
  }
}

.comment-data__label {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: var(--black);
  background-color: var(--basic-white);
  padding: 0 20px;
  margin-left: calc((100vw - 320px) / 2);

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
    margin-left: calc((100vw - 768px) / 2);
  }

  @media (min-width: @desktop-width) {
    margin-left: calc((100vw - 1280px) / 2);
  }
}

.comment-data__wrapper {
  width: 320px;
  padding: 0 20px;
  margin: 37px auto 0 auto;

  @media (min-width: @tablet-width) {
    .tablet-container();
    padding: 0 40px;
    margin: 74px auto 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1280px;
    padding: 0 30px;
  }
}

.comment-data__text {
  .form-text();
  border: 1px solid var(--border);
  width: 280px;
  height: 140px;

  @media (min-width: @tablet-width) {
    width: 631px;
    height: 174px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    height: 174px;
  }
}

.comment-data__text::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--grey);
  text-transform: uppercase;
  padding-top: 9px;
  padding-left: 12px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 19px;
  }
}
