.contacts {
  @media (min-width: @desktop-width) {
    position: absolute;
    background-color: var(--basic-white);
    left: calc((100vw - 1220px) / 2);
    margin-top: 95px;
  }
}

// .contacts__inner {
//   display: grid;
//   grid-template-rows: auto;
//   grid-template-columns: repeat(2, 1fr);
//   margin: 0 auto;

//   @media (min-width: @tablet-width) {
//     width: 768px;
//   }

//   @media (min-width: @desktop-width) {
//     position: relative;
//     width: 570px;
//     min-height: 201px;
//   }
// }

.contacts__inner {
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 0 71px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    width: 570px;
    min-height: 201px;
    padding: 49px 89px 31px 76px;
  }
}

.contacts__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--dark);
  width: 140px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 23px;
    width: 171px;
    padding: 0;
  }
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--grey);
  width: 140px;
  text-align: left;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    width: 159px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
  }
}
