
.contacts__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--dark);
  width: 140px;
  height: 60px;
  padding-left: 20px;
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--grey);
  width: 140px;
  height: 60px;
}
