.copyright__text {
  font-family: "Arial", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--grey);

  &:active {
    opacity: 0.3;
  }
}

.copyright__icon {
  margin-top: 9px;
}

.copyright__icon:hover path {
  fill: var(--basic-green);
}

.copyright__icon:active path {
  fill: var(--basic-green);
  opacity: 0.3;
}

.copyright__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    width: 165px;
    margin-top: 40px;
  }
}
