.example {
  width: 100%;
  min-height: 705;
  margin: 0 auto;
  background-color: var(--example-grey);
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    min-height: 1081px;
    background-image: linear-gradient(to bottom, var(--basic-white) 619px, var(--example-grey) 619px);
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    min-height: 656px;
    background-image: linear-gradient(to bottom, var(--basic-white) 194px, var(--example-grey) 194px);
    padding: 0 110px;
  }
}

.example__wrapper {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    .tablet-container();
  }

  @media (min-width: @desktop-width) {
    .desktop-container();
  }
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: var(--black);
  padding-top: 27px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.example__intro {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--grey);
  width: 280px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
  }
}

.example__container {
  @media (min-width: @tablet-width) {
    .tablet-container();
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    .desktop-container();
    flex-direction: column;
  }
}

.example__info {
  display: grid;
  grid-template-columns: 124px 124px;
  column-gap: 31px;

  @media (min-width: @tablet-width) {
    column-gap: 42px;
  }
}

.example__result {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--options-grey);
  border-radius: 3px;
  width: 124px;
  height: 56px;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 162px;
    height: 72px;
  }
}

.example__number {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: var(--black);
  margin: 0;
  text-align: center;
  display: block;
  padding: 11px 15px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__legend {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: var(--grey);
  width: 80px;
  order: 2;
  text-align: center;
  display: inline-block;
  background: var(--example-grey);
  margin: 0;

  @media (min-width: @tablet-width) {
    background: var(--basic-white);
    font-size: 14px;
    line-height: 14px;
    width: 140px;
  }

  @media (min-width: @desktop-width) {
    background: var(--example-grey);
  }
}

.example__price {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--black);
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    width: 174px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    width: 337px;
  }
}

.example__before-after img {
  margin-bottom: 27px;
}

// .example__scale {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: space-around;

//   &--mobile {
//     @media (min-width: @tablet-width) {
//       display: none;
//     }
//   }

//   &--tablet {
//     @media (min-width: @mobile-width-only) {
//       display: none;
//     }

//     @media (min-width: @tablet-width) {
//       display: block;
//     }
//   }
// }

.example__img {
  &--before {
    width: 311px;
    height: 232px;

    @media (min-width: @tablet-width) {
      width: 677px;
      height: 520px;
    }
  }

  &--after {
    width: 245px;
    height: 232px;

    @media (min-width: @tablet-width) {
      width: 545px;
      height: 520px;
    }
  }
}

.example__button {
  border: 0;
}

.example__button span {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--black);
  border: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.4);

    &:hover {
      border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    }

    &:active {
      border-bottom: 1px solid rgba(0, 0, 0, 1);
    }
  }
}

// .example__toggle::before {
//   content: "";
//   position: absolute;
//   width: 84px;
//   height: 14px;
//   border: 1px solid var(--options-grey);
//   border-radius: 6px;
//   background-color: var(--basic-white);
//   cursor: pointer;
//   left: 115px;
//   margin-top: 2px;
// }

// .example__toggle::after {
//   content: "";
//   position: absolute;
//   width: 35px;
//   height: 6px;
//   border-radius: 6px;
//   background-color: var(--basic-green);
//   cursor: pointer;
//   left: 122px;
//   margin-top: 7px;
// }
