.features {
  width: 320px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    width: 1440px;
  }
}

.features__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: var(--black);
}

.features__list {
  .list-basics();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 630px;
  }

  @media (min-width: @desktop-width) {
    width: 1225px;
  }
}

.features__item {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    background: var(--basic-green);
  }
}

.features__item--one::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/Index/icon_leaf.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.features__item--two::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/Index/icon_tub.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.features__item--three::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/Index/icon_eat.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.features__item--four::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/Index/icon_alarm.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.features__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--grey);
  width: 199px;
  height: 54px;
  margin-bottom: 24px;
  margin-left: 80px;
}
