.form {
  display: flex;
}

.form__remark {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--black);
  text-align: center;
  margin-bottom: 43px;
}

.form__button {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 80px;
  border: none;
  margin-left: 20px;
  display: block;

  @media (min-width: @tablet-width) {
    margin-left: 70px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 110px;
    padding: 13px 188px;
  }
}

.form__up {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    padding: 0 110px;
  }
}
