.goods {
  width: 320px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    .tablet-container();
  }

  @media (min-width: @desktop-width) {
    .desktop-container();
    display: flex;
    flex-direction: row;
  }
}

.goods__wrapper {
  display: flex;
  flex-direction: column;
}

.goods__item {
  flex-basis: 100%;

  @media (min-width: @tablet-width) {
    flex-basis: 60%;
  }

  @media (min-width: @desktop-width) {
    flex-basis: 30%;
  }
}

.goods__info {
  display: flex;
  flex-wrap: wrap;
  width: 282px;

  @media (min-width: @tablet-width) {
    width: 632px;
  }

  @media (min-width: @desktop-width) {
    width: 896px;
  }
}

.goods__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--dark-grey);
}

.goods__price,
.goods__quantity {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: var(--grey);
  flex-basis: 50%;
  box-sizing: border-box;
}

.goods__price {
  @media (min-width: @tablet-width) {
    flex-basis: 15%;
  }

  @media (min-width: @desktop-width) {
    flex-basis: 10%;
  }
}

.goods__quantity {
  @media (min-width: @tablet-width) {
    flex-basis: 25%;
  }

  @media (min-width: @desktop-width) {
    flex-basis: 30%;
  }
}

.goods__button {
  flex-basis: 100%;
  display: block;
}

.goods__buy {
  flex-basis: 100%;

  @media (min-width: @desktop-width) {
    flex-basis: 30%;
  }
}
