.intro-index {
  width: 100%;
  min-height: 563px;
  background-image: url("../img/Index/mobile_background.jpg"), linear-gradient(var(--intro-green) 303px, var(--basic-white) 303px);
  background-position: center top;
  background-repeat: no-repeat;
  padding: 0 20px;
  position: relative;

  @media (min-width: @tablet-width) {
    background-image: none;
    min-height: 768px;
    padding-left: 117px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    min-height: 696px;

    &::after {
      content: "";
      position: absolute;
      background-color: rgba(104, 183, 56, 0.85);
      width: 50vw;
      height: 694px;
      right: 0;
      top: -96px;
      z-index: -2;
    }
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../img/Index/main_cat_food.png");
    background-repeat: no-repeat;
    width: 280px;
    height: 270px;
    background-size: contain;
    margin-top: 166px;
    background-position: center;

    @media (min-width: @tablet-width) {
      width: 709px;
      height: 609px;
      z-index: -1;
    }

    @media (min-width: @desktop-width) {
      width: 552px;
      height: 499px;
    }
  }
}

.intro__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: var(--basic-white);
  position: relative;
  top: 28px;
  padding-bottom: 30px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: var(--black);
    text-align: left;
    width: 414px;
    margin: 0;
  }
}

.intro__slogan {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: var(--basic-white);
  text-align: center;
  margin-bottom: 310px;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: var(--black);
    text-align: left;
    margin-bottom: 52px;
  }
}

.intro__button {
  display: block;
  margin: 0 auto;
  width: 280px;

  @media (min-width: @tablet-width) {
    padding: 14px 26px;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }
}
