.intro-index {
  width: 320px;
  background-image: url("../img/Index/mobile_background.jpg");
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.intro__title {
  text-align: center;
  color: var(--basic-white);
  position: relative;
  top: 28px;
  padding-bottom: 30px;
  margin-top: 0;

  &::after {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../img/Index/main_cat_food.png");
    background-repeat: no-repeat;
    width: 280px;
    height: 270px;
    background-size: contain;
    margin-top: 65px;
  }
}

.intro__slogan {
  line-height: 14px;
  color: var(--basic-white);
  text-align: center;
  margin-bottom: 310px;
}

.intro__button {
  margin-left: 20px;
}
