.intro-form {
  width: 320px;
  padding-left: 20px;
}

.intro-form__title {
  color: var(--black);
  text-align: left;
  margin-bottom: 39px;
}

.intro-form__slogan {
  line-height: 18px;
  color: var(--black);
  text-align: left;
  width: 230px;
  height: 36px;
  margin-bottom: 37px;
}
