.intro-index {
  width: 100%;
  background-image: url("../img/index/mobile_background.jpg"), linear-gradient(var(--intro-green) 303px, var(--basic-white) 303px);
  background-position: center top;
  background-repeat: no-repeat;
  padding: 0 20px;

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    background-image: url("../img/index/mobile_background@2x.jpg"), linear-gradient(var(--intro-green) 303px, var(--basic-white) 303px);
    background-size: auto 303px;
  }

  @media (min-width: @tablet-width) {
    padding-left: 87px;
    background-image: none;
    min-height: 768px;
    z-index: -2;
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    min-height: 696px;
    margin: 0;

    &::after {
      content: "";
      position: absolute;
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index/desktop_background.jpg");
      background-repeat: no-repeat;
      width: 50vw;
      height: 694px;
      right: -70px;
      top: 0;
      z-index: -1;

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index/desktop_background@2x.jpg");
        background-size: auto 694px;
      }
    }
  }
}

.intro__title {
  width: 250px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: var(--basic-white);
  padding-top: 26px;
  padding-bottom: 11px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: var(--black);
    text-align: left;
    width: 414px;
    padding-top: 9px;
    margin: 0 0 29px 0;
  }

  @media (min-width: @desktop-width) {
    margin-top: 97px;
    margin-left: 131px;
  }
}

.intro__slogan {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: var(--basic-white);
  text-align: center;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: var(--black);
    text-align: left;
    margin: 0 0 49px 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 132px;
    margin-top: 27px;
    margin-bottom: 53px;
  }
}

.intro-index__img {
  height: 270px;
  width: 100%;
  object-fit: contain;
  object-position: center;

  @media (min-width: @tablet-width) {
    width: auto;
    height: 610px;
    z-index: -1;
    left: 57px;
    top: 340px;
    position: absolute;
  }

  @media (min-width: @desktop-width) {
    top: 142px;
    left: 590px;
    width: 552px;
    height: auto;
    z-index: 1;
  }
}

.intro__button {
  display: block;
  margin: 0 auto;
  width: 280px;

  @media (min-width: @tablet-width) {
    padding: 17px 20px;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    width: 238px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 132px;
  }
}
