.intro-form {
  width: 320px;
  padding: 0 20px;
  position: relative;


  @media (min-width: @tablet-width) {
    padding: 0 70px;
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    width: 1440px;
  }
}

.intro-form__title {
  color: var(--black);
  text-align: left;
  margin-bottom: 39px;
}

.intro-form__slogan {
  line-height: 18px;
  color: var(--black);
  text-align: left;
  width: 230px;
  height: 36px;
  margin-bottom: 37px;
}
