.main-nav__list {
  .list-basics();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 320px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    min-width: 440px;
  }

  @media (min-width: @desktop-width) {
    min-width: 478px;
  }
}

.main-nav__item {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 17px;
  padding-bottom: 28px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }

  // &:nth-child(1)::after {
  //   content: "";
  //   position: absolute;
  //   width: 320px;
  //   border-bottom: 1px solid var(--menu-lines);
  //   left: 0;
  //   top: 131px;
  // }

  // &:nth-child(2)::after {
  //   content: "";
  //   position: absolute;
  //   width: 320px;
  //   border-bottom: 1px solid var(--menu-lines);
  //   left: 0;
  //   top: 197px;
  // }

  // &:nth-child(3)::after {
  //   content: "";
  //   position: absolute;
  //   width: 320px;
  //   border-bottom: 1px solid var(--menu-lines);
  //   left: 0;
  //   top: 263px;
  // }
}

.main-nav__link {
  color: var(--black);

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__link--white {
  @media (min-width: @desktop-width) {
    color: var(--basic-white);
  }
}

.main-nav__toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--basic-white);
  background-image: url("../img/menu_close.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  border: 0;
  top: 21px;
  left: 279px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
