
.main-nav__list {
  .list-basics();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  position: relative;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 440px;
    padding: 0;
    margin-top: 2px;
  }

  @media (min-width: @desktop-width) {
    width: 478px;
  }
}

.main-nav__item {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 21px;
  padding-bottom: 24px;
  text-align: center;
  border-bottom: 1px solid var(--menu-lines);

  &:first-child {
    border-top: 1px solid var(--menu-lines);
  }

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding: 9px 0 5px;
    border-bottom: none;

    &:first-child {
      border-top: none;
    }

    &--active {
      border-bottom: 2px solid var(--basic-green);
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__link {
  color: var(--black);

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__list--white .main-nav__link {
  @media (min-width: @desktop-width) {
    color: var(--basic-white);
  }
}

.main-nav__item--white .main-nav__link {
  @media (min-width: @desktop-width) {
    border-bottom: 2px solid var(--basic-white);
  }
}

.main-nav--opened .main-nav__toggle {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--basic-white);
  background-image: url("../img/menu_close.svg");
  background-repeat: no-repeat;
  border: none;
  top: 21px;
  left: 279px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  content: "";
  position: absolute;
  top: 22px;
  right: 21px;
  width: 24px;
  height: 1.5px;
  background-color: var(--black);
  box-shadow: 0 8px 0 0 var(--black), 0 16px 0 0 var(--black);
  border: none;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__list {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.main-nav--nojs .main-nav__list {
  @media (max-width: @mobile-width-only) {
    display: block;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}
