.owner-data {
  .fieldset-basics();
  margin-bottom: 9px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 320px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding-left: 70px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    padding: 0 110px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.owner-data__label,
.owner-data__input {
  .form-text();
  color: var(--grey);
}

.owner-data__label {
  text-transform: uppercase;
  margin-right: 8px;
}

.owner-data__legend {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: var(--black);
  width: 187px;
  position: relative;
  margin-bottom: 13px;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   width: 99px;
  //   border-bottom: 2px solid var(--basic-green);
  //   top: 16px;
  //   left: 201px;
  // }
}

.owner-data__input {
  border: 1px solid var(--border);
  padding-left: 15px;

  &:hover {
    border-color: var(--options-grey);
  }

  &:active {
    border: 2px solid var(--grey);
  }

  &:invalid:not(:placeholder-shown) {
    border: 2px solid var(--error);
  }
}

.owner-data__input::placeholder {
  text-transform: uppercase;
}

.input-email {
  width: 204px;
  height: 43px;

  @media (min-width: @tablet-width) {
    width: 551px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 486px;
  }
}

.input-phone {
  width: 189px;
  height: 43px;

  @media (min-width: @tablet-width) {
    width: 535px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 472px;
  }
}
