.owner-data {
  .fieldset-basics();
  position: relative;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    width: 99px;
    background-color: var(--basic-green);
    height: 2px;
    top: -12px;
    right: 0;
    z-index: -1;

    @media (min-width: @tablet-width) {
      width: 100%;
    }
  }
}

.owner-data__legend {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: var(--black);
  background-color: var(--basic-white);

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
    margin-left: 30px;
  }

  @media (min-width: @tablet-width) {
    margin-left: 70px;
  }
}

.owner-data--gap {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.owner-data__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding-left: 70px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 1440px;
    padding: 0 111px;
  }
}

.owner-data__label,
.owner-data__input {
  .form-text();
  color: var(--grey);
}

.owner-data__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 5px;
  color: var(--grey);

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.owner-data__input {
  border: 1px solid var(--border);
  padding: 0 15px;

  &:hover {
    border-color: var(--options-grey);
  }

  &:active {
    border: 2px solid var(--grey);
  }

  &:invalid:not(:placeholder-shown) {
    border: 2px solid var(--error);
  }
}

.owner-data__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--grey);

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.input-email {
  width: 219px;
  height: 46px;
  background-image: url("../img/form/icon_email.svg");
  background-repeat: no-repeat;
  background-position: center right;

  @media (min-width: @tablet-width) {
    width: 551px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 486px;
  }
}

.input-phone {
  width: 204px;
  height: 46px;
  background-image: url("../img/form/icon_phone.svg");
  background-repeat: no-repeat;
  background-position: center right;

  @media (min-width: @tablet-width) {
    width: 535px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 472px;
  }
}
