.main-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.subtitle {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

// Index

.page-main__intro-index {
  margin-bottom: 22px;
}

.page-main__programs {
  margin-bottom: 29px;
}

.page-main__features {
  margin-bottom: 48px;
}

// Form

.page-main__intro-form {
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 50px;
  }
}

.page-main__cat-data {
  margin-bottom: 12px;

  @media (min-width: @tablet-width) {
    margin-bottom: 32px;
  }
}

.page-main__cat-program {
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 74px;
  }
}

.page-main__owner-data {
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 46px;
  }
}

.page-main__comment-data {
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    margin-bottom: 59px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 61px;
  }
}

.page-main__submit-data {
  margin-bottom: 18px;

  @media (min-width: @tablet-width) {
    margin-bottom: 46px;
  }
}

.page-main__additional-data {
  @media (min-width: @tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 68px;
  }
}

// Catalog

.page-main__intro-catalog {
  @media (min-width: @tablet-width) {
    margin-bottom: 85px;
  }
}

.page-main__catalog {
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 70px;
  }
}

.page-main__goods {
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 54px;
  }
}
