.page-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;

  @media (min-width: @tablet-width) {
    .tablet-container();
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    .desktop-container();
  }
}

.page-header__logo {
  width: 191px;
  height: 38px;
  position: relative;
  padding: 12px 0 16px 0;

  @media (min-width: @tablet-width) {
    width: 174px;
    height: auto;
    margin-top: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
    height: auto;
    margin-top: 53px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
