.page-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;

  @media (min-width: @tablet-width) {
    .tablet-container();
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    .desktop-container();
  }
}

.page-header__logo {
  position: relative;
  padding: 12px 0 16px 0;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   width: 320px;
  //   border-bottom: 1px solid var(--menu-lines);
  //   top: 30px;
  //   left: 0;
  // }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
