.page-footer__logo {
  align-self: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__background {
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.page-footer__background--grey {
  background-color: var(--footer-grey);
  width: 320px;
}

.page-footer iframe {
  margin: 0 auto;
  height: 362px;
  width: 100%;

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}
