.programs {
  padding-left: 20px;
}

.programs__list {
  .list-basics();
}

.programs__item {
  background-color: var(--footer-grey);
  width: 280px;
  height: 266px;
  margin-bottom: 20px;
}

.programs__name {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  position: relative;
  margin-left: 91px;
  padding-top: 30px;
}

.programs__name--weightloss::before {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 53px;
  background-image: url("../img/Index/cat_weightloss.svg");
  background-repeat: no-repeat;
  margin-left: -68px;
  top: 21px;
}

.programs__name--weightgain::before {
  content: "";
  position: absolute;
  display: block;
  width: 67px;
  height: 50px;
  background-image: url("../img/Index/cat_weight_gain.svg");
  background-repeat: no-repeat;
  margin-left: -78px;
  top: 24px;
}

.programs__description {
  width: 227px;
  height: 90px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--grey);
  margin-left: 20px;
  margin-bottom: 38px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid var(--blocks-grey);
    width: 240px;
    top: 112px;
    left: 0;
  }
}

.programs__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--black);
  width: 227px;
  height: 90px;
  margin-left: 20px;
  position: relative;

  &:active {
    opacity: 0.3;
  }
}

.programs__link::after {
  content: "";
  position: absolute;
  background-image: url("../img/Index/arrow.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 12px;
  top: 6px;
  left: 100px;
}

.programs__link:hover::after {
  content: "";
  position: absolute;
  background-image: url("../img/Index/arrow_hover.svg");
  background-repeat: no-repeat;
  width: 35px;
  height: 12px;
  top: 6px;
  left: 100px;
}

.programs__link:active::after {
  content: "";
  position: absolute;
  background-image: url("../img/Index/arrow_hover.svg");
  background-repeat: no-repeat;
  width: 35px;
  height: 12px;
  top: 6px;
  left: 100px;
}
