.programs {
  width: 320px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1280px;
    padding: 0 30px;
  }
}

.programs__list {
  .list-basics();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.programs__item {
  background-color: var(--footer-grey);
  width: 280px;
  min-height: 266px;
  position: relative;

  &:first-child {
    margin-bottom: 20px;

    @media (min-width: @tablet-width) {
      margin-bottom: 30px;
    }
  }

  @media (min-width: @tablet-width) {
    width: 708px;
    min-height: 372px;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    min-height: 374px;
  }

  &--weightloss::before {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 53px;
    background-image: url("../img/index/cat_weightloss.svg");
    background-repeat: no-repeat;
    background-size: cover;
    top: 24px;
    left: 23px;

    @media (min-width: @tablet-width) {
      width: 200px;
      height: 211px;
      top: 81px;
      left: 446px;
    }

    @media (min-width: @desktop-width) {
      width: 100px;
      height: 106px;
      top: 42px;
      left: 52px;
    }
  }

  &--weightgain::before {
    content: "";
    position: absolute;
    display: block;
    width: 67px;
    height: 50px;
    background-image: url("../img/index/cat_weight_gain.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 14px;
    top: 26px;

    @media (min-width: @tablet-width) {
      width: 268px;
      height: 200px;
      top: 91px;
      left: 400px;
    }

    @media (min-width: @desktop-width) {
      width: 134px;
      height: 100px;
      top: 47px;
      left: 19px;
    }
  }
}

.programs__name {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin-top: 32px;
  margin-left: 91px;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-top: 77px;
    margin-left: 53px;
    margin-bottom: 26px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 214px;
  }
}

.programs__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--grey);
  padding: 0 20px;
  margin-bottom: 38px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid var(--blocks-grey);
    width: 240px;
    top: 112px;
    left: 21px;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    padding-left: 52px;
    padding-right: 279px;
    margin-bottom: 51px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 75px;
    margin-bottom: 26px;
  }
}

.programs__gap-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.programs__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--black);
  width: 227px;
  height: 90px;
  margin-left: 20px;
  position: relative;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 53px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 51px;
  }
}

.programs__link::after {
  content: "";
  position: absolute;
  background-image: url("../img/index/arrow.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 12px;
  top: 6px;
  left: 100px;

  @media (min-width: @tablet-width) {
    left: 130px;
  }

  @media (min-width: @desktop-width) {
    left: 131px;
  }
}

.programs__link:hover::after {
  content: "";
  position: absolute;
  background-image: url("../img/index/arrow_hover.svg");
  background-repeat: no-repeat;
  width: 35px;
  height: 12px;
  top: 6px;
  left: 100px;

  @media (min-width: @tablet-width) {
    left: 130px;
  }

  @media (min-width: @desktop-width) {
    left: 131px;
  }
}

.programs__link:active::after {
  content: "";
  position: absolute;
  background-image: url("../img/index/arrow_hover.svg");
  background-repeat: no-repeat;
  width: 35px;
  height: 12px;
  top: 6px;
  left: 100px;

  @media (min-width: @tablet-width) {
    left: 130px;
  }

  @media (min-width: @desktop-width) {
    left: 131px;
  }
}
