.list-basics() {
  list-style: none;
  padding-left: 0;
}

.fieldset-basics() {
  padding: 0;
  border: none;
}

.form-text() {
  font: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
