//Viewports

@tablet-width: 768px;
@desktop-width: 1280px;
@mobile-width-only: 767px;

:root {
  --basic-white: #ffffff;
  --basic-green: #68b738;

  /* Text */

  --black: #000000;
  --grey: #444444;
  --dark: #111111;
  --dark-grey: #222222;

  /* Background */

  --blocks-grey: #d9d9d9;
  --example-grey: #eaeaea;
  --footer-grey: #f2f2f2;

  /* Special */

  --special-green: #5eaa2f;
  --error: #ff8282;
  --options-grey: #cdcdcd;
  --line-grey: #ebebeb;
  --decor-grey: #d3d3d3;
  --details-grey: #cdcdcd;
  --special_grey: #666666;
  --border: #e7e7e7;
  --hover: #bababa;
  --menu-lines: #e6e6e6;
  --intro-green: #64a73d;
  --scale: #dcdcdc;
}
